doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        //- 기본 스타일을 멋있게 바꿔준다.
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")

    body
        header
            h1 Noom
        main
            div#welcome
                form#roomname
                    input(type="text", placeholder="write a Room Name", required)
                    button Enter Room
                ul#roomList
            div#room
                div#chatbox(style="overflow:hidden;width:100%; height:300px; padding-bottom: 20px;")
                    h1 채팅방
                    ul#chat
                form#message
                    input(type="text", placeholder="write a message" required)
                    button Send
                //- form#nickname
                //-     input(type="text", placeholder="write a message" required)
                //-     button Set Your NickName
                
        //- socketIO를 사용가능하게 해준다.
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js")